<div id="<%= dom_id gym %>">
  <p>
    <strong>Name:</strong>
    <%= gym.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= gym.address %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= gym.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= gym.longitude %>
  </p>

  <p>
    <strong>Responsible:</strong>
    <%= gym.responsible_id %>
  </p>

</div>
